{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('pedido_index') }}">Pedidos</a> </li>
        <li class="active">Gerenciando Pedido {{ numero }}</li>
    </ol>

    <div class="well well-lg">

        <div class="row">
            <h3>Gerenciando pedido {{ numero }}</h3>
        </div>

        <p><a href="{{ path('form_add_item_pedido', {'pedido' : numero}) }}" class="btn btn-success" >Adicionar Item</a></p>

        <div class="row">
            <section class="col col-md-12" >
                <table class="table table-striped table-bordered table-hover " id="dataTable">
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Valor Unitário</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Subtotal</th>
                        <th>Remover</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in itens %}
                        <tr>
                            <td>{{ item.produto.nome }}</td>
                            <td>{{ item.precoUnitario|number_format(2, ',', '.') }}</td>
                            <td>{{ item.quantidade }} </td>
                            <td>{{ item.percentualDesconto }} %</td>
                            <td>{{ item.total|number_format(2, ',', '.') }}</td>
                            <td><button type="button" class="btn btn-danger fa fa-trash-o" onclick="app.showConfirmationDialog({{ item.id }});"></button> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalDelete" data-rest="{{ path('excluir_pedido') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar ação</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="objectId">
                    <p>Tem certeza que deseja excluir esse registro? Essa ação não poderá ser desfeita.</p>
                    <div class="alert" id="response-message" ></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não excluir</button>
                    <button type="button" class="btn btn-primary" onclick="app.doRemoveObject();">Excluir</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block pageJs %}

    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
{% endblock %}